
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <title>Document</title>
</head>
<body>

    <h1>BRAIN TUMOR DETECTION</h1>




    <div class="login-page">
	    <div class="form">


			</form>

		  <h1>LOGIN</h1>
		</div>
		<div class="main">
		    <form>
			      <span>
				        <i></i>
						<input type="text" placeholder="Username" name="">
				  </span><br>
			      <span>
				        <i></i>
						<input type="password" placeholder="password" name="">
				  </span><br>
			         <button href="index2.html">LOGIN</button>
					<a href="http://127.0.0.1:8000/Register/">Register</a>

					<!--<a href="#th">Go to the end</a>
			<p>Forget password?</p>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<p id="th">The end</p>-->
			</form>



		</div>

</div>


</body>

</html>

