<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
	    <div class="header">
		  <h1>Register</h1>
		</div>
		<div class="main">
		    <body>

			      <span>
				        <i></i>
						<input type="text" placeholder="Username" name="">
				  </span><br>
			      <span>
				        <i></i>
						<input type="password" placeholder="password" name="">
				  </span><br>
				  <span>
					   <i></i>
						<input type="password" placeholder="Re-enter password" name="">
				  </span><br>

					<form action="http://127.0.0.1:8000/">
                      <input type="submit" value="REGISTER" />
                    </form>




			</body>
		</div>

    </div>

</body>
</html>