
.nav {
  overflow: hidden;
  background-color: #5D8BF4;
  position:fixed; /* navbar is fixed */
  top: 0; /* Put the navbar at the top of the page */
  width: 100%;
  }
  .nav :hover{
    border: 2px;
    color: red;
  }

  /* The Links inside the navbar */
  .nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 13px 15px;
    font-size: 20px;
  }

  h1{
    margin-top: 50px;
  }

/*every section style*/
section {
    color: #2D31FA;
    /*border-width: 0.2em;
    border-color: 5D8BF4;
    border-style: solid;*/
    background-color: DFF6FF;
    width: fit-content;
    font-size: 1.5em;
    padding: 20px;
    margin-top: 120px;
    margin-left: 35px;
    margin-right: 30px;
    height: 600px;
}
/* "active class of the links ,changing the background and color of the link of selecting*/
li a.active-link {
    background: #DFF6FF;
    color: #2D31FA !important;
  }
/*active class of the sections ,changing the background color when selecting"scrolling through" the section*/
.your-active-link{
    background-color: #DFF6FF;
}